.menu {
	position: relative;
}
.menu-card {
	max-width: 80%;
	display: block;
	margin-top: 30px;
}

.nav-link {
	color: $secondary-color;
	text-decoration: none;
}

.nav-link.active {
	background-color: $primary-color !important;
}
.edit-icon {
	font-size: 15px;
}
.update-menu-col {
	max-width: fit-content;
	margin-right: 0;
}

.update-menu-container input[type='text'] {
	@include regularInput(95%);
}
.update-menu-container input[type='number'] {
	@include regularInput(100%);
}
.add-menu-container input[type='text'] {
	@include regularInput(90%);
	height: 50px;
}
.add-menu-container input[type='number'] {
	@include regularInput(90%);
	height: 50px;
}
.categories-nav {
	width: 100%;
	text-align: start;
}

.add-menu-card {
	width: 70%;
	margin: auto;
	margin-top: 20px;
}
.add-menu-container {
}
#dropdown-basic-button {
	background-color: $secondary-color;
	display: block;
	margin: auto;
	margin-top: 10px;
	height: 40px;
}
.add-menu-item-button {
	@include regularButton($secondary-color, $white);
	color: $white;
	width: 70%;
	height: 40px;
	font-weight: 100;
	&:hover,
	&:focus {
		background-color: $primary-color !important;
	}
}
