.menu {
	position: relative;
}
.menu-card {
	max-width: 90%;
	display: block;
	margin-top: 30px;
}

.nav-link {
	color: $secondary-color;
	text-decoration: none;
}

.nav-link.active {
	background-color: $primary-color !important;
}
.edit-icon {
	font-size: 15px;
}
.update-menu-col {
	max-width: fit-content;
	margin-right: 0;
}
