@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
	font-family: $primary-font !important;
	font-weight: 300 !important;
	@include scrollbar($light-color);
}
button:focus {
	box-shadow: none;
}

.loading {
	width: 3rem;
	height: 3rem;
	display: block;
	margin: auto;
	margin-top: 100px;
	color: $primary-color;
}
.component-title {
	font-family: 'Quicksand' !important;
	font-size: 2em;
	font-weight: 600 !important;
	color: $primary-color;
	margin-top: 20px;
}

@media screen and (min-width: 993px) {
	.product-detail-item,
	.edit-product-btn {
		font-size: 0.98em;
	}
}
@media screen and (max-width: 992px) {
	.product-card {
		min-width: 70%;
	}
	.add-product-card {
		min-width: 70%;
	}

	.add-menu-card {
		min-width: 80%;
	}
	.product-detail-item,
	.edit-product-btn {
		font-size: 0.9em;
	}
	.table-name {
		font-size: 0.9em;
	}
	.manage-btn,
	.order-price {
		font-size: 0.9em;
	}

	.order-card {
		max-width: 100%;
	}
	.order-item {
		font-size: 0.8em;
	}
}
@media screen and (max-width: 720px) {
	.product-card {
		min-width: 90%;
	}
	.add-product-card,
	.add-menu-card {
		min-width: 100%;
	}
	.product-detail-item,
	.edit-product-btn {
		font-size: 0.8em;
	}
	.table-name {
		font-size: 0.8em;
	}
	.manage-btn,
	.order-price {
		font-size: 0.8em;
	}

	.order-card {
		max-width: 100%;
	}
	.order-item {
		font-size: 0.7em;
	}
}
@media screen and (max-width: 500px) {
	.nav-item {
		font-size: 0.9em;
	}

	.product-card {
		min-width: 100%;
	}
	.table-name {
		font-size: 0.75em;
	}
	.manage-btn,
	.order-price {
		font-size: 0.7em;
	}

	.order-card {
		max-width: 100%;
	}
	.order-item {
		font-size: 0.6em;
	}

	.product-detail-item {
		font-size: 0.7em;
	}
	.edit-product-btn {
		font-size: 0.6em;
	}
	.update-menu-btn {
		font-size: 0.7em;
	}
	.menu-input {
		max-width: fit-content;

		padding: 1px;
	}

	.menu-update-title,
	.add-menu-title {
		font-size: 0.9em !important;
	}
	.product-name,
	.product-price {
		width: fit-content;
		font-size: 0.6em !important;
	}
	#dropdown-basic-button {
		font-size: 0.7em;
	}

	.add-product-button,
	.add-menu-item-button {
		font-size: 0.69em;
	}
}
@media screen and (max-width: 400px) {
	.nav-item,
	.add-menu-title,
	.add-expense-title,
	.categories-dd {
		font-size: 0.8em;
		
	}
	.menu-item-detail {
		font-size: 0.8em;
	}
	.update-menu-btn {
		font-size: 0.6em;
	}
	#dropdown-basic-button {
		font-size: 0.6em;
	}
	.menu-card {
		width: fit-content;
		display: block;
		margin: auto;
	}

	.add-product-button,
	.add-menu-item-button {
		font-size: 0.59em;
	}
}
@media screen and (max-width: 290px) {
	.nav-item,
	.navbar-header {
		font-size: 0.5em;
	}

	.btn-create {
		font-size: 0.5em;
		width: 15px;
		height: 15px;
	}
	.update-menu-btn {
		font-size: 0.6em;
	}
}
